a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 2em;
}

.title {
    text-align: center;
}

.bible-book-link {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.bible-verse {
    display: block;
}

.bible-verse-number {
    vertical-align: super;
    font-weight: bold;
    margin: 0 .2em 0 0.5em;
    font-size: 0.75em;
}

.bible-chapter {
    margin-top: 1em;
}

.bible-chapter .bible-verse:first-of-type .bible-verse-number {
    display: inline-block;
}

.bible-chapter-number {
    float: none;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.25em 0.1em 0 0;
    line-height: 1em;
}

.bible-chapter-link {
    display: inline-block;
    font-size: 1.25em;
    margin: 0 0.25em 0 0.25em;
}

.bible-chapter-list {
    /* display: flex;
    flex-wrap: wrap; */
    margin-bottom: 1em;
}